<!--
<div class="container-fluid">
  <div class="mx-auto surface-card p-4 shadow-2 border-round w-full lg:w-6" *ngIf="!isSuccessful">
    <div class="text-center mb-5">
      <img src="assets/logo.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
      <span class="text-600 font-medium line-height-3">Don't have an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>

    <div>
      <form name="form" novalidate>
        <label for="username" class="block text-900 font-medium mb-2">Username</label>
        <input id="username" type="text" pInputText name="username" class="w-full mb-3" [(ngModel)]="form.username">

        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <input id="email" type="text" pInputText name="email" class="w-full mb-3" [(ngModel)]="form.email">

        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
        <input id="password1" type="password" name="password" pInputText class="w-full mb-3"
               [(ngModel)]="form.password">
      </form>
      <div class="flex align-items-center justify-content-between mb-6">
        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
      </div>

      <button type="submit" pButton pRipple label="Sign Up" icon="pi pi-user" class="w-full"
              (click)="onSubmit()"></button>
    </div>
  </div>

  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>
-->

<div class="container-fluid">
  <div *ngIf="!isSuccessful" class="mx-auto surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img alt="Image" class="mb-3" height="50" src="assets/logo.png">
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
      <span class="text-600 font-medium line-height-3">Don't have an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>

    <div>
      <mat-stepper #stepper>
        <mat-step [stepControl]="userAccount" errorMessage="You incomplete data.">
          <ng-template matStepLabel>Fill out your account details.</ng-template>
          <form [formGroup]="userAccount" class="w-75 align-self-center mx-auto flex-column" name="form" novalidate>


            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput required type="text">
              <mat-error> Username is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Email" required type="email">
              <mat-error> Email is required!</mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <button class="mat-raised-button mat-primary w-50 text-center" mat-button matStepperNext>Next</button>

          </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
          <form [formGroup]="secondFormGroup" class="w-75 align-self-center mx-auto flex-column">
            <ng-template matStepLabel>Fill out your address</ng-template>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>First Name</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Last Name</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Phone number</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Country</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>City</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Address</mat-label>
              <input formControlName="password" matInput placeholder="Password" required type="search">
              <mat-error> Password is required!</mat-error>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button (click)="stepper.reset()" mat-button>Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>

  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>

