<form class="card" [formGroup]="maintainProductCategoryDropdownForm">
  <p-toolbar styleClass="p-mb-4">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            routerLink="add-product"></button>


    <mat-form-field appearance="standard" class="w-25">
      <mat-label>Category</mat-label>
      <mat-select (selectionChange)="onChange($event)" formControlName="name">
        <mat-option *ngFor="let category of (categories$|async)" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p-toolbar>
  <app-product-table (productDeleted)="deleteProduct($event)"
                     (onProductEdited)="editProduct($event)"
                     *ngIf="!loading"
                     [result]="$any(productList$  | async)"
  ></app-product-table>

  <app-spinner *ngIf="loading"></app-spinner>

</form>


<p-confirmDialog [baseZIndex]="10000" [style]="{width: '50vw'}"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
