<p-card header="Trip Name Placeholder" [style]="{width: '20rem'} " styleClass="p-card-shadow" class="service" (click)="printSomething($event)">
  <ng-template pTemplate="header">
    <img alt="Card" src="assets/categories/external.bmp" [height]="300">
    <sub style="font-size:1.2rem" class="m-lg-2">
      <em class="pi pi-map-marker"></em> Location Placeholder
    </sub>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="row">
      <div style="font-size:1.2rem" class="col-6">
        <em class="pi pi-calendar"></em> Date Placeholder
      </div>
      <div class="col-6">
        <sub style="font-size:1.2rem">
          <em class="pi pi-money-bill"></em> Price Placeholder
        </sub>
      </div>
    </div>
  </ng-template>
</p-card>
