<section class="first-section">
  <div class="container cover-section flex-column">
    <h1 class="heading text-center text-white flower">Savvy Market</h1>
    <h3 class="heading slogan text-center text-white flower">Noi alegem ce e mai bun pentru tine, tu ne alegi pe
      noi!</h3>
  </div>
</section>
<section class="second-section">
  <div class="container">
    <div class="cards row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="" class="card promotions text-center">
          <p class="flower mb-0 icon">Reducere</p>
          <p class="text-white">Vezi toate promotiile din magazin <i class="fas fa-arrow-right pl-3"></i></p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="" class="card new text-center">
          <p class="flower mb-0 icon">Nou</p>
          <p class="text-white">Vezi toate produsele nou adaugate <i class="fas fa-arrow-right pl-3"></i></p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="" class="card bio text-center">
          <p class="mb-0 icon flower">Bio</p>
          <p class="text-white">Vezi toate produsele bio din magazin <i class="fas fa-arrow-right pl-3"></i></p>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="" class="card free-delivery text-center">
          <p class="mb-0 icon flower">Gratis</p>
          <p class="text-white">Vezi toate produsele cu livrare gratuita <i class="fas fa-arrow-right pl-3"></i></p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="third-section">
  <div class="container my-5">
    <h2>Produsele zilei</h2>
    <div class="row" >
      <div class="col-3">
        <app-product-card (productEventEmitter)="onAddToCart($event)"></app-product-card>
      </div>
      <div class="col-3">
        <app-product-card></app-product-card>
      </div>
      <div class="col-3">
        <app-product-card></app-product-card>
      </div>
      <div class="col-3">
        <app-product-card></app-product-card>
      </div>
    </div>
  </div>
</section>
<section class="four-section">
  <div class="band row py-4 container mx-auto">
    <div class="col-lg-4">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/img/Quality_R.svg" alt="">
        <span class="pl-2 text-c flower">Calitate</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/img/Sale_R.svg" alt="">
        <span class="pl-2 text-c flower">Preturi mici</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/img/Apple_R.svg" alt="">
        <span class="pl-2 text-c flower">Totul proaspat</span>
      </div>
    </div>
  </div>
</section>
<section class="third-section">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata
                TABULA LIGNA</a>
            </div>

          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata
                TABULA LIGNA</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
        <div class="card product-card">
          <div class="card-body">
            <div>
              <span class="fav-btn"><i class="far fa-heart lead text-danger"></i></span>
              <div class="img-container">
                <img
                  src="https://ed81c57e5d0b9c68f8fb-65959e0cf0c4860a1192ede71ec65f56.ssl.cf3.rackcdn.com/RR-927528-0127348381-oU835wh--medium.jpg"
                  class="w-100" alt="">
              </div>
              <a href="product-page.html" class="title text-uppercase hover-underline-animation">Sunca usor afumata</a>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-end">
            <small class="text-muted brand">TABULA LIGNA</small>
            <div class="d-flex justify-content-between">
              <p class="price text-danger">23,99 Lei</p>
              <p>100mg</p>
            </div>
            <button class="btn btn-danger w-100 mt-3">Adauga in cos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
