<div class="container">
  <div class="row">
    <div class="col-sm-3 mt-5"><!--left col-->

      <div *ngIf="!this.retrievedImage">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
             *ngIf="this.currentUser?.profileImage.picByte == null || selectedFile"
             [hidden]="selectedFile"
             class="avatar img-circle img-thumbnail"
             alt="avatar">
        <!--            <button mat-button color="accent" >Upload Image</button>-->

        <input type="file" #fileDropRef id="fileDropRef" hidden accept="image/*" style="display: block"
               (change)="onFileChanged($event); preview(fileDropRef.files)" class="img-circle"/>
        <div class="" *ngIf="!selectedFile">

          <label for="fileDropRef" class="fileLabel"> Upload profile picture!</label>
        </div>

        <div *ngIf="selectedFile">
          <div>
            <img [src]="imgURL" class="avatar img-circle img-thumbnail">
          </div>
          <div>
            <p class="lead p-3">You look amazing!</p>
            <label for="fileDropRef" class="fileLabel">I want to upload a new picture!</label>
            <button mat-button (click)="onUpload()"> Save update</button>
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="this.retrievedImage">
        <img [src]="retrievedImage" class="avatar img-circle img-thumbnail" (click)="changeImage()"
             matTooltip="Click to change profile image!">
      </div>

    </div><!--/col-3-->

    <div class="col-sm-9 mt-5">
      <h4><p class="text-center display-6">
        {{ currentUser ? currentUser.firstName : undefined}} {{currentUser?.lastName}}
      </p>
      </h4>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <form [formGroup]="profileForm" action="" class="form" id="registrationForm" method="post">

            <div class="row">
              <div class="form-group col-6">
                <label for="first_name">
                  <h4>First name</h4>
                </label>
                <input [readonly]="isEditMode" class="form-control" formControlName="firstName" id="first_name"
                       placeholder="First Name"
                       name="first_name"
                       title="enter your first name if any."
                       type="text">
              </div>
              <div class="form-group col-6">
                <label for="last_name"><h4>Last name</h4></label>
                <input [readonly]="isEditMode"
                       class="form-control"
                       name="last_name"
                       formControlName="lastName"
                       placeholder="Last name"
                       id="last_name"
                       type="text">
              </div>
            </div>

            <p-divider></p-divider>
            <div class="row">
              <div class="form-group col-6">
                <label for="phone"><h4>Phone</h4></label>
                <input [readonly]="isEditMode" class="form-control" formControlName="phoneNumber" id="phone"
                       name="phone"
                       placeholder="Phone number"
                       type="text">
              </div>
              <div class="form-group col-6">
                <label for="email"><h4>Email</h4></label>
                <input [readonly]="isEditMode" class="form-control" formControlName="email" id="email" name="email"
                       placeholder="you@email.com" type="email">
              </div>
            </div>

            <p-divider></p-divider>

            <div class="row">
              <div class="form-group col-6">
                <label for="city"><h4>City</h4></label>
                <input [readonly]="isEditMode" class="form-control" formControlName="city" id="city" placeholder="City"
                       type="email">
              </div>

              <div class="form-group col-6">
                <label for="email"><h4>Address</h4></label>
                <input [readonly]="isEditMode" class="form-control" formControlName="address" id="location"
                       placeholder="Address"
                       type="email">
              </div>
            </div>

            <p-divider></p-divider>

            <div class="form-group">
              <div class="flex justify-content-between pt-4">
                <button (click)="updateUserInfo()" *ngIf="!isEditMode"
                        class="p-element p-ripple p-button-outlined p-button-secondary w-6 mr-2 p-button p-component"
                        icon="pi pi-search" label="View"
                        pbutton=""
                        pripple=""><span
                  aria-hidden="true" class="p-button-icon p-button-icon-left pi pi-search"></span><span
                  class="p-button-label">Save</span><span class="p-ink"></span></button>

                <button (click)="changeEditMode()" *ngIf="isEditMode" icon="pi pi-user-plus" label="accept"
                        class="p-element p-ripple p-button-outlined p-button-secondary w-6 ml-2 p-button p-component"
                        pbutton=""><span
                  aria-hidden="true" class="p-button-icon p-button-icon-left pi pi-user-plus"></span><span
                  class="p-button-label">Update</span><span class="p-ink"></span></button>
              </div>
            </div>
          </form>

          <p-divider></p-divider>

        </div><!--/tab-pane-->

      </div><!--/tab-pane-->
    </div><!--/tab-content-->
  </div><!--/col-9-->
</div><!--/row-->

