<form class="card">
  <p-toolbar styleClass="p-mb-4">
    <button class="p-button-success p-mr-2" icon="pi pi-plus" label="New" pButton pRipple
            routerLink="add-category"></button>
  </p-toolbar>
  <app-maintain-categories-table (onCategoryDeleted)="deleteCategory($event)"
                                 (onCategoryEdited)="editCategory($event)"
                                 *ngIf="!loading"
                                 [result]="$any(categories$  | async)">

  </app-maintain-categories-table>
</form>

<app-spinner *ngIf="loading"></app-spinner>
<p-confirmDialog [baseZIndex]="10000" [style]="{width: '50vw'}"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
