<div *ngIf="!loading" class="container-sm">

  <div class="text-center">
    <div class="text-900 text-3xl font-medium mb-3">Add new product</div>
    <img *ngIf="this.addNewProductFormGroup.get('image')?.value != ''"
         alt="" height="250"
         src="{{this.addNewProductFormGroup.get('image')?.value}}" width="180">
  </div>

  <form name="newTripFrom" [formGroup]="addNewProductFormGroup" (submit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-4 w-50">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Product Name</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Product Name">
        </mat-form-field>
      </div>

      <div class="col-4 w-50">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="onChange($event)" formControlName="category">
            <mat-option *ngFor="let category of (categories$|async)" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-4 w-100">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Stock</mat-label>
          <input type="number" matInput formControlName="stock">
        </mat-form-field>
      </div>
      <div class="col-4 w-100">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Image</mat-label>
          <input formControlName="image" matInput type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Price</mat-label>
          <span matPrefix> <mat-icon>attach_money</mat-icon> </span>
          <input type="number" step="10" matInput formControlName="price"/>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Weight</mat-label>
          <input type="number" matInput formControlName="weight"/>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="w-100" appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="row">
      <div class="col text-center">
        <button class="w-25 text-center" color="primary" mat-raised-button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

<app-spinner *ngIf="loading"></app-spinner>
