<div *ngIf="!loading" class="ng-star-inserted">
  <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column md:flex-row justify-content-between align-items-center mb-4">
      <div class="flex flex-column text-center md:text-left">
        <span class="text-900 text-3xl mb-2">My Orders</span>
      </div>
      <span class="p-input-icon-right mt-5 mb-2 md:mt-0 md:mb-0 w-full lg:w-25rem">
        <i class="pi pi-search text-gray-400"></i>
        <input type="text" placeholder="Search" class="p-inputtext w-full lg:w-25rem surface-50">
      </span>
    </div>
    <mat-expansion-panel *ngFor="let order of (orderList$ |async)" hideToggle>
      <mat-expansion-panel-header class="d-block">
        <div class="col-12 flex p-2 surface-100 border-round-top">
          <!--          Order number-->
          <div class="p-2 flex-auto text-center md:text-left">
            <span class="text-600 block">Order Number</span>
            <span class="text-900 font-medium block mt-2">{{order.id}}</span>
          </div>
          <div class="p-2 flex-auto text-center md:text-left"><span class="text-600 block">Order Date</span>
            <span class="text-900 font-medium block mt-2">{{order.dateCreated}}</span>
          </div>

          <div class="p-2 flex-auto text-center md:text-left"><span class="text-600 block">Total Amount</span><span
            class="text-900 font-medium block mt-2">${{order.totalOrderPrice}}</span></div>

          <app-order-status [status]="order.orderStatus"></app-order-status>
        </div>
        <div class="row">

        </div>
      </mat-expansion-panel-header>
      <div class="col-12" *ngFor="let orderProduct of order?.orderProducts">
        <div class="p-2 my-4 flex flex-column lg:flex-row justify-content-between align-items-center">
          <div class="flex flex-column lg:flex-row justify-content-center align-items-center px-2">
            <img src="{{orderProduct?.productItem?.image}}" alt="product"
                 class="w-8rem h-8rem mr-3 flex-shrink-0">
            <div class="flex flex-column my-auto text-center md:text-left">
              <span
                class="text-900 font-medium mb-3 mt-3 lg:mt-0">{{orderProduct.productItem?.name}}</span>
              <span class="text-600 text-sm mb-3">Size: {{orderProduct.quantity}}</span>
            </div>
          </div>

        </div>
      </div>

      <app-order-actions (onOrderCanceled)="reloadOrders()" [order]="order"></app-order-actions>

    </mat-expansion-panel>

  </div>
</div>


<div class="d-flex justify-content-center mt-5">
  <mat-spinner *ngIf="(loading)"></mat-spinner>
</div>

