.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

a {
  text-decoration: none;
  color: black;
}

.sold-out-overlay {
  background: #654ea3;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  position: absolute;
  right: 50px;
  top: 10px;
}


.status-outofstock {
  background-color: #ffcdd2
}

.status-instock {
  background-color: #c8e6c9
}

.status-lowstock {
  background-color: #feedaf
}


