<h1 class="text-center">Cart</h1>
<mat-card *ngFor="let item of items" class="cart-item mb-1">
  <div class="row">
    <div class="col-6">
      <img [alt]="item.productItem?.name" class="img-thumbnail figure-img" src="{{item.productItem?.image}}"/>
    </div>
    <div class="col-6 d-flex flex-column justify-content-evenly">
      <div class="fw-bold">
        {{ item.productItem?.name }}
      </div>
      <div class="fw-bold ">
        ${{ getOrderPrice(item) }}
      </div>
      <div>
        <input type="number" [min]="0" class="w-100" matInput [(ngModel)]="item.quantity">
      </div>
    </div>

    <button mat-fab color="error" size="small" aria-label="Delete" (click)="deleteFromCart(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-card>
