
<p-table #dt [value]="result" [rows]="10" [paginator]="true" [rowHover]="true" [loading]="loading" dataKey="id"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" id="name">Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="price" id="country">Price
        <p-sortIcon field="price"></p-sortIcon>
      </th>
      <th pSortableColumn="stock" id="city">Stock
        <p-sortIcon field="stock"></p-sortIcon>
      </th>
      <th pSortableColumn="weight" id="location">Weight
        <p-sortIcon field="weight"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.price}} RON</td>
      <td>{{product.stock}}</td>
      <td>{{product.weight}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editProduct(product)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteProduct(product)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
