#mat-expansion-panel-header-0 {
  display: block !important;

}

.mat-expansion-panel {
  margin: 16px;
}

.mat-expansion-panel-header {
  height: fit-content !important;

  padding: 0 !important;
}

p-divider p-component p-divider-vertical p-divider-solid p-divider-cente{
  background-color: red !important;
}

.p-divider-content{
  background-color: red !important;
}
